.equipos-container {
  padding: 20px;
  background-image: url("/src/assets/background.svg"); /* Ruta relativa al SVG */
  background-size: cover; /* Ajusta el tama침o del fondo */
  background-repeat: no-repeat; /* Evita la repetici칩n del fondo */
  background-position: center; /* Centra el fondo en el contenedor */
  min-height: 100vh;
}

.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.title-page {
  font-size: 2em;
  margin: 0 auto;
  color: #f4f4f4;
}

header .back-button {
  left: 20px;
  border: none;
  border-radius: 5px;
  background: #8d0321;
  color: white;
  cursor: pointer;
  width: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra alrededor del bot칩n */
}

header .back-button:hover {
  background: #6a0000;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el mouse */
}

header .add-button {
  right: 20px;
  border: none;
  border-radius: 5px;
  background: #0b57d0;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra alrededor del bot칩n */
}

header .add-button:hover {
  background: #0946aa;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el mouse */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(25% - 20px);
  box-sizing: border-box;
  position: relative;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}

.card ul {
  padding-left: 20px;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #0286d7;
  color: white;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.edit-button:hover {
  background: #0946aa;
}

.alerta {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 0.9em;
}

.footer .social-icons {
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

.footer .social-icons a {
  color: white;
  text-decoration: none;
}

.footer .social-icons a:hover {
  color: #0b57d0; /* Cambia el color al pasar el mouse */
}
