.equipos-container {
  padding: 20px;
  overflow-x: hidden;
  min-height: 100vh;
}

.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.title-page {
  font-size: 2em;
  margin: 0 auto;
  color: #f1f1f1; /* Color claro y suave para el título */
}

header .back-button {
  left: 20px;
  border: none;
  border-radius: 5px;
  background: #d32f2f; /* Rojo oscuro, más elegante */
  color: white;
  cursor: pointer;
  width: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header .back-button:hover {
  background: #c62828; /* Rojo más intenso al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

header .add-button {
  right: 20px;
  border: none;
  border-radius: 5px;
  background: #388e3c; /* Verde oscuro para el botón de añadir */
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header .add-button:hover {
  background: #2e7d32; /* Verde más oscuro al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background: #ffffff; /* Fondo blanco para las tarjetas */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex: 0 2 15%; /* Ajuste flexible y uniforme */
  box-sizing: border-box;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-top: 0;
  color: #2c3e50; /* Título en un azul profundo */
}

.card p {
  margin: 5px 0;
  color: #555; /* Un gris más suave para el texto */
}

.card ul {
  padding-left: 20px;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #1976d2; /* Azul más elegante para editar */
  color: white;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.edit-button:hover {
  background: #1565c0; /* Azul más oscuro al pasar el mouse */
}

.alerta {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #3aa856; /* color verde para alertas */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}
