body {
    background: linear-gradient(
      180deg,
      rgba(45, 55, 72, 1) 0%, /* Un gris oscuro suave */
      rgba(15, 20, 30, 1) 100% /* Un negro más sutil */
    );
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }