/* Footer */
.footer {
    position: fixed; /* Cambiado de fixed a relative para que se adapte a la página */
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9em;
  }
  
  .footer .social-icons {
    display: flex;
    gap: 15px;
    margin-left: 15px;
  }
  
  .footer .social-icons a {
    color: white;
    text-decoration: none;
  }
  
  .footer .social-icons a:hover {
    color: #0b57d0; /* Cambia el color al pasar el mouse */
  }
  