.equipos-container {
  padding: 20px;
  background-image: url('/src/assets/bg.svg'); /* Ruta relativa al SVG */
  background-size: cover; /* Ajusta el tamaño del fondo */
  background-repeat: no-repeat; /* Evita la repetición del fondo */
  background-position: center; /* Centra el fondo en el contenedor */
  min-height: 100vh;
}

.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.title-page{
  font-size: 2em;
  margin: 0 auto; 
  color: #f4f4f4;
}

header .back-button {
  left: 20px;
  border: none;
  border-radius: 5px;
  background: #8d0321;
  color: white;
  cursor: pointer;
  width: 100px;
}

header .back-button:hover {
  background: #6A0000;
}

header .add-button {
  right: 20px;
  border-radius: 5px;
  background: #28a745;
  color: white;
  cursor: pointer;
}

header .add-button:hover {
  background: #218838;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(25% - 20px);
  box-sizing: border-box;
  position: relative;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}

.card ul {
  padding-left: 20px;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #0286d7;
  color: white;
  cursor: pointer;
  width: 2.5rem ;
  height: 2.5rem;
}

.edit-button:hover {
  background: #005a9e;
}

.alerta {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
