.mantenimientos-container {
  padding: 20px;
  background-image: url('/src/assets/bg.svg'); /* Ruta relativa al SVG */
  background-size: cover; /* Ajusta el tamaño del fondo */
  background-repeat: no-repeat; /* Evita la repetición del fondo */
  background-position: center; /* Centra el fondo en el contenedor */
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2em;
}

header button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #28a745;
  color: white;
  cursor: pointer;
}

header button:hover {
  background: #218838;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(25% - 20px);
  box-sizing: border-box;
  position: relative;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}
