.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #ffffff;
  color: #1e2a45;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px; /* ancho para hacerlo más compacto */
  width: 100%;
  margin: auto;
  margin-top: 30px;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.add-subtitle {
  font-size: 24px;
  text-align: center;
  color: rgba(25, 40, 72, 1);
  margin-bottom: 10px; 
}

.form-modal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-lbl-text {
  margin: 0.5rem 0;
  color: #4b6cb7;
}

.modal form .form-group {
  width: 40%; /* Cada grupo de formulario ocupa casi la mitad del espacio */
  margin: auto;
  margin-bottom: 10px;
}

.modal form input,
.modal form textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #4b6cb7;
  border-radius: 5px;
  width: 95%; /* Tamaño de los input en los formularios */
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.modal form input:focus,
.modal form textarea:focus {
  border-color: rgba(75, 108, 183, 0.8);
  box-shadow: 0 0 5px rgba(75, 108, 183, 0.5);
  outline: none;
}

.container-txta {
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
}

.modal form .button-group {
  display: flex;
  margin: auto;
  margin-top: 15px;
}

.modal form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin: 1.5rem;
  transition: transform 0.3s ease;
}

.modal form button:hover {
  transform: scale(1.1);
}

.save-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 95.6%;
  background: #3aa856; /* Botón visible */
  transition: transform 0.3s ease;
}

.save-button:hover {
  background: #34974d; /* Color en hover */
  transform: scale(1.1);
}


.delete-button {
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
  background: #c82333;
}

.delete-button:hover {
  background: #a21c2a;
  transform: scale(1.1);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  color: #c82333;
  font-size: 20px;
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.close-button:hover {
  transform: scale(1.2);
}

.button:hover {
  background-color: #34974d;
}

.button:active {
  background-color: #2e8644;
}

.form-tienda {
  display: flex;
  flex-direction: column; /* Alinear los elementos en columna */
  gap: 10px; /* Espacio entre los campos */
}

.btn-tienda{
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px; /* Espacio interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar cursor al pasar */
}

.btn-tienda:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}

.modal-overlay-tienda {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

.modal-tienda {
  background: white; /* Color de fondo */
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Espacio interno */
  max-width: 400px; /* Ancho máximo del modal */
  width: 90%; /* Ancho responsive */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
  position: relative; /* Asegurar que se posicione correctamente dentro del overlay */
}

.input-txt{
  margin: auto;
  padding: 10px;
  border: 1px solid #4b6cb7;
  border-radius: 5px;
  width: 90%; 
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}