.tiendas-container {
  padding: 20px;
  background-image: url("/src/assets/background.svg"); /* Ruta al SVG */
  background-size: cover; /* Ajusta el tamaño del fondo */
  background-repeat: no-repeat; /* Evita la repetición del fondo */
  background-position: center; /* Centra el fondo */
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

header h1 {
  font-size: 2em;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  color: #f4f4f4;
}

header button {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #0b57d0;
  color: white;
  cursor: pointer;
}

header button:hover {
  background: #0a4cbe;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(25% - 20px);
  box-sizing: border-box;
  position: relative;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background: #0078d4;
  color: white;
  cursor: pointer;
}

.edit-button:hover {
  background: #005a9e;
}

.add-button {
  background-color: #0b57d0;
}

.add-button:hover {
  background-color: #005a9e;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 0.9em;
}

.footer .social-icons {
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

.footer .social-icons a {
  color: white;
  text-decoration: none;
}

.footer .social-icons a:hover {
  color: #0b57d0; /* Cambia el color al pasar el mouse */
}
