body, html {
  margin: 0;
  padding: 0;
}

.login-background {
  background: linear-gradient(250deg, rgba(75,108,183,1) 0%, rgba(25,40,72,1) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-container {
  margin-bottom: 15px;
  color: white;
}

.login-container {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: auto;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin: 1px 10px 5px;
}

.login-container input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.login-container button {
  margin-top: 5px;
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #0078d4;
  color: white;
  cursor: pointer;
}

.login-container button:hover {
  background: #005a9e;
}
