.logout-button {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Botón de logout en la esquina inferior derecha */
    width: 60px;
    height: 60px;
    background-color: #f44336;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .logout-icon {
    width: 24px;
    height: 24px;
    stroke: white;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  